/* .fullWrap {
} */

#output {
  background-color: black;
  border-radius: 10px;
  width: 400px;
}

.comment:nth-child(odd) {
  background-color: cornflowerblue;
  margin-left: auto;
  margin-right: 10px;
}

.comment:nth-child(even) {
  background-color: gray;
  margin-left: 10px;
}

.comment {
  width: 40%;
  border-radius: 10px;
  padding: 10px;
}

/* .icon::before {
  content: 'e2b1';
} */
#delete {
  border-radius: 20px;
}

/* ボタンがdisabledの時の表示 */
.form_submit:disabled {
  /* cursor: not-allowed; なぜか反応しない*/
  background-color: red;
}
